# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Streamlit
.streamlit/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Azure
.azure/

# Build / Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
